--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
numpy==2.0.2
pandas==2.2.3
huggingface-hub==0.36.0
pyannote.audio==3.4.0
whisperx==3.7.4
openai-whisper
tkinterdnd2==0.4.3
python-docx==1.2.0
fpdf==1.7.2
